<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Project/resources/css/style.css">
    <title>Document</title>
</head>
<body>

  <!-- Documents Section -->
  <section class="documentsSection">
    <h2>Comece a aprender</h2>
    <div class="course-container">
        <div class="courses">
            <div class="document-content">
                <h3>Abordagem</h3>
                <p class="courses-label">CURSO</p>
                <p></p>
                <div class="botao-info">
                    <a href="https://docs.google.com/document/d/1N-BrlGELVKn50MCBY3Nvzey3249cHsMmWqOJXQ7kmEk/edit" 
                        target="_blank" rel="noopener noreferrer" title="Saiba mais" class="btn btn-box">
                        <div class="reflexo"></div>
                        <i class="icon icon-thumbs-up-1"></i>Saiba mais
                    </a>
                </div>
            </div>
        </div>
        <div class="courses">
            <div class="document-content">
                <h3>Acompanhamento</h3>
                <p class="courses-label">CURSO</p>
                <div class="botao-info">
                    <a href="https://docs.google.com/document/d/1SoC6A4_0Vb9DuoMxo4NMTR0rsu0PeUQJiYlA8LIinzA/edit" 
                    target="_blank" rel="noopener noreferrer" title="Saiba mais" class="btn btn-box">
                    <div class="reflexo"></div>
                    <i class="icon icon-thumbs-up-1"></i> Saiba mais
                </a>
                </div>
            </div>
        </div>
        <div class="courses">
          <div class="document-content">
              <h3>Conduta da Polícia</h3>
              <p class="courses-label">MANUAL</p>
              <div class="botao-info">
                <a href="https://docs.google.com/document/d/1umMDDR8U2tOzU_I3kGeOChC24p1cbOqswxJUKtYMq1I/edit?usp=sharing" 
                    target="_blank" rel="noopener noreferrer" title="Saiba mais" class="btn btn-box">
                    <div class="reflexo"></div>
                    <i class="icon icon-thumbs-up-1"></i> Saiba mais
                </a>
              </div>
          </div>
        </div>
        <div class="courses">
          <div class="document-content">
              <h3>Direção</h3>
              <p class="courses-label">CURSO</p>
              <div class="botao-info">
                <a href="https://docs.google.com/document/d/1_uontTMdLRhooGiTCB_ZPqqTA_eEBlRP0Yp8_KSFxGA/edit" 
                    target="_blank" rel="noopener noreferrer" title="Saiba mais" class="btn btn-box">
                    <div class="reflexo"></div>
                    <i class="icon icon-thumbs-up-1"></i>Saiba mais
                </a>
              </div>
          </div>
        </div>
        <div class="courses">
          <div class="document-content">
              <h3>Modulação</h3>
              <p class="courses-label">CURSO</p>
              <div class="botao-info">
                <a href="https://docs.google.com/document/d/1aCblweRT17QCEl0ZnjPdF5VtuL6Xre6CR2Ogk4IHpZg/edit" 
                    target="_blank" rel="noopener noreferrer" title="Saiba mais" class="btn btn-box">
                    <div class="reflexo"></div>
                    <i class="icon icon-thumbs-up-1"></i> Saiba mais
                </a>
              </div>
          </div>
        </div>
        <div class="courses">
          <div class="document-content">
              <h3>Procedimentos em Apreensões</h3>
              <p class="courses-label">CURSO</p>
              <div class="botao-info">
                <a href="https://cdn.discordapp.com/attachments/1202696601475227729/1202704311868588103/Curso_de_procedimentos_em_apreensoes.pdf?ex=65ea1c2d&is=65d7a72d&hm=e81f698b496520cb56ecf77d7ccf15cf09a22cb0e2468ae3601ae338ed9fb653&" 
                    target="_blank" rel="noopener noreferrer" title="Saiba mais" class="btn btn-box">
                    <div class="reflexo"></div>
                    <i class="icon icon-thumbs-up-1"></i> Saiba mais
                </a>
              </div>
          </div>
        </div>
    </div>
</section>
  </body>
</html>