<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Donate</title>
</head>
<body>

    <!-- Donate Section -->
    <section class="donateSection" id="content1">
        <h2>A sua contribuição faz a diferença.</h2>
        <div class="donate-content">
            <div class="listDonate">
                <h4>Métodos de doação:</h4>
                <ol style="list-style-type: none;">  
                    <li>» Paypal</li>
                    <li>» Picpay</li>
                    <li>» Pix</li>
                </ol>
                <a href="https://discord.com/channels/816070612984004624/870194816061939732" target="_blank" rel="noopener noreferrer" class="button">Doação</a>
            </div>
            <div class="listDonate">
                <ol style="list-style-type: none;">
                    <li>» Ao adquirir produtos em nosso site, você terá acesso a benefícios únicos e exclusivos.</li>
                    <li>» Acesse agora mesmo: <a href="https://infinityrp.hydrus.gg/" target="_blank" rel="noopener noreferrer" >InfinityRJ</a></li>
                    <li>» Em caso de dúvidas, por favor, entre em contato conosco: ⁠💭<a href="https://discord.com/channels/816070612984004624/870194816061939732" target="_blank" rel="noopener noreferrer" >┃suporte-ticket</a></li>   
                </ol>
            </div>
        </div>
    </section>
    
</body>
</html>
