<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Em Construção</title>
</head>      
<body>
    <section class="offSection">
      <div class="offContent">
        <h1>Essa aba está em construção</h1>
        <p>Estamos trabalhando para trazer um conteúdo incrível para você. Volte em breve! </p>
        <div>
          <img src="resources/Images/1200224284363206666.gif" alt="">
        </div>
      </div>
    </section>
</body>
</html>
