<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Galeria</title>
</head>
<body>

  <!-- Documents Section -->
  <section class="gallerySection" id="content1">
    <h2></h2>
    <div class="gallery-container">
        <div class="boxes">
          <div class="image-gallery" role="presentation">
            <img src="resources/Images/image-membros.png">
          </div>
          <div class="gallery-content">
              <h3>Membros</h3>
              <p class="boxes-label"></p>
              <p></p>
          </div>
        </div>
        <div class="boxes">
            <div class="image-gallery" role="presentation">
              <video src="resources/videos/intro_fivem_-_bope.mp4" controls alt="" preload="metadada">Your browser does not support the video tag.</video>
            </div>
            <div class="gallery-content">
                <h3>Intro</h3>
                <p class="boxes-label"></p>
                <p></p>
            </div>
        </div>
        <div class="boxes">
            <div class="image-gallery" role="presentation">
              <video src="resources/videos/Animacao_BOPE (3).mp4" controls alt="" preload="metadada">Your browser does not support the video tag.</video>
            </div>
            <div class="gallery-content">
                <h3>Animação Bope</h3>
                <p class="boxes-label"></p>
            </div>
        </div>
        <div class="boxes">
          <div class="image-gallery" role="presentation">
            <img src="resources/Images/Bope_Banner.png" alt="">
          </div>
          <div class="gallery-content">
              <h3>Banner</h3>
              <p class="boxes-label"></p>
          </div>
        </div>
        <div class="boxes">
          <div class="image-gallery" role="presentation">
            <img src="resources/Images/Bope_Banner_2.png" alt="">
            
          </div>
          <div class="gallery-content">
              <h3>Banner</h3>
              <p class="boxes-label"></p>
          </div>
        </div>
        <div class="boxes">
          <div class="image-gallery" role="presentation">
            <img src="resources/Images/Bope_gif_2.gif" alt="">
          </div>
          <div class="gallery-content">
              <h3>Gif</h3>
              <p class="boxes-label"></p>
          </div>
        </div>
        <div class="boxes">
          <div class="image-gallery" role="presentation">
            <img class="gifAnimado" src="resources/Images/Bope_gif.gif" alt="">
          </div>
          <div class="gallery-content">
              <h3 class="gifAnimado">Gif</h3>
              <p class="boxes-label"></p>
          </div>
        </div>
    </div>
     <!-- Fardamento Feminino -->
    <h2>Fardamento Feminino</h2>
    <div class="gallery-container">
      <div class="boxes-uniform">
          <div class="image-gallery" role="presentation">
            <img src="resources/Images/uniforms-woman/camuflado_1-removebg-preview.png" controls alt="">
          </div>
          <div class="gallery-content">
              <h3 class="text-uniform">Fardamento Camuflado 1</h3>
              <p class="boxes-label"></p>
              <p></p>
          </div>
      </div>
      <div class="boxes-uniform">
          <div class="image-gallery" role="presentation">
            <img src="resources/Images/uniforms-woman/image.png" controls alt="">
          </div>
          <div class="gallery-content">
              <h3 class="text-uniform">Fardamento Operacional</h3>
              <p class="boxes-label"></p>
          </div>
      </div>
      <div class="boxes-uniform">
        <div class="image-gallery" role="presentation">
          <img src="resources/Images/uniforms-woman/uniformF2.png" alt="">
        </div>
        <div class="gallery-content">
            <h3 class="text-uniform">Fardamento Preto</h3>
            <p class="boxes-label"></p>
        </div>
      </div>
      <div class="boxes-uniform">
        <div class="image-gallery" role="presentation">
          <img src="resources/Images/uniforms-woman/uniformF3.png" alt="">
          
        </div>
        <div class="gallery-content">
            <h3 class="text-uniform">Administrativo/Instrutores</h3>
            <p class="boxes-label"></p>
        </div>
      </div>
      <div class="boxes-uniform">
        <div class="image-gallery" role="presentation">
          <img src="resources/Images/uniforms-woman/uniformF4.png" alt="">
        </div>
        <div class="gallery-content">
            <h3 class="text-uniform">Fardamento Novo da Bope</h3>
            <p class="boxes-label"></p>
        </div>
      </div>
      <div class="boxes-uniform">
        <div class="image-gallery" role="presentation">
          <img src="resources/Images/uniforms-woman/uniformF5.png" alt="">
        </div>
        <div class="gallery-content">
            <h3 class="text-uniform"> Fardamento Deserto</h3>
            <p class="boxes-label"></p>
        </div>
      </div>
    </div>
    <!-- Fardamento Masculino -->
    <h2>Fardamento Masculino</h2>
    <div class="gallery-container">
    <div class="boxes-uniform">
        <div class="image-gallery" role="presentation">
          <img src="resources/Images/uniforms-homen/uniform.png" controls alt="">
        </div>
        <div class="gallery-content">
            <h3 class="text-uniform">Fardamento Camuflado 1</h3>
            <p class="boxes-label"></p>
            <p></p>
        </div>
    </div>
    <div class="boxes-uniform">
      <div class="image-gallery" role="presentation">
        <img src="resources/Images/uniforms-homen/uniform1.png" controls alt="">
      </div>
      <div class="gallery-content">
          <h3 class="text-uniform">Fardamento Camuflado 2</h3>
          <p class="boxes-label"></p>
      </div>
  </div>
    <div class="boxes-uniform">
        <div class="image-gallery" role="presentation">
          <img src="resources/Images/uniforms-homen/uniform2.png" controls alt="">
        </div>
        <div class="gallery-content">
            <h3 class="text-uniform">Fardamento Operacional</h3>
            <p class="boxes-label"></p>
        </div>
    </div>
    <div class="boxes-uniform">
      <div class="image-gallery" role="presentation">
        <img src="resources/Images/uniforms-homen/uniform3.png" alt="">
      </div>
      <div class="gallery-content">
          <h3 class="text-uniform">Fardamento Preto</h3>
          <p class="boxes-label"></p>
      </div>
    </div>
    <div class="boxes-uniform">
      <div class="image-gallery" role="presentation">
        <img src="resources/Images/uniforms-homen/uniform4.png" alt="">
        
      </div>
      <div class="gallery-content">
          <h3 class="text-uniform">Administrativo/Instrutores</h3>
          <p class="boxes-label"></p>
      </div>
    </div>
    <div class="boxes-uniform">
      <div class="image-gallery" role="presentation">
        <img src="resources/Images/uniforms-homen/uniform5.png" alt="">
      </div>
      <div class="gallery-content">
          <h3 class="text-uniform">Fardamento Novo da Bope</h3>
          <p class="boxes-label"></p>
      </div>
    </div>
    <div class="boxes-uniform">
      <div class="image-gallery" role="presentation">
        <img class="uniform6" src="resources/Images/uniforms-homen/uniform6.png" alt="">
      </div>
      <div class="gallery-content">
          <h3 class="text-uniform"> Fardamento Deserto</h3>
          <p class="boxes-label"></p>
      </div>
    </div>
    </div>
    <p>As binds dos fardamentos estão disponíveis no nosso Discord. Para mais informações, acesse nosso servidor e verifique as regras de uso dos fardamentos.</p>
  </section>
</body>
</htmlboxes-uniform
