<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Project/resources/css/style.css">
    <title>Document</title>
   
</head>
<body>
 
  <section  class="garnishesSection" id="content">
    <h1 class="title">Guarnições</h1>
        <div class="garnishe-container2">
            <div class="image-content2">
              <img class="active-img"src="/Project/resources/Images/GAM.png" alt="GAM">
              <img class="active-img"src="/Project/resources/Images/gtm.png" alt="GTM">
              <img class="active-img"src="/Project/resources/Images/uti.png" alt="UTI">
            </div>
            <div class="dynamic-content" id="dynamic-content">
              <div class="dynamic-content-placeholder" id="dynamic-content-placeholder">
                <div class="garnishe-info">
                  <p>Com as guarnições <em>G.A.M, G.T.M, U.T.I </em> e o <em>Colegiado de recrutas</em> do BOPE, estamos prontos para enfrentar qualquer desafio! <br><em>Clique nas imagens e obtenha mais informações!</em></p>
                </div>
              </div>
            </div>
        </div>
      </section>
      <section></section>

  <script src="/Project/resources/JS/garni.js"></script>
</body>
</html>