<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Inicio</title>
</head>
<body>
  
  <!-- Inicio Section -->
  <section class="inicio" id="content1">
      <div class="inicioContainer">
          <h1 class="title">B.O.P.E.</h1>
            <div class="boxInicio">
              <div class="bope-info">
                <h2>Batalhão de Operações Policiais Especiais</h2>
                  <p><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>Com coragem e compromisso, nós, a força de operações especiais da Polícia Militar, estamos atualmente em ação na cidade Infinity RJ.
                      Com um contingente de, em média, 60 oficiais, capacitados e dedicados.
                      <br></br>
                      <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>Somos a BOPE - treinados para a excelência, organizados para a eficiência.
                      Em um universo de cidades de roleplay, nós nos destacamos, trazendo ordem ao caos, luz à escuridão.
                      Nossa missão? Proteger a paz e a segurança de cada cidadão, todos os dias.</p>
              </div>
              <div class="bopeDc-info">
                <div class="boxContainerDiv-1">
                    <h3>Faça parte da nossa missão na cidade Infinity RJ.
                      <br>
                        Acesse agora o discord e seja a mudança.</h3>
                        <div class="dc-content">
                          <a href="https://discord.gg/bope" target="_blank" rel="noopener noreferrer">
                              <button id="discord-button" class="discord-button">
                              <i class="fa-brands fa-discord"></i>Discord</button>
                          </a>
                        </div>
                </div>
                <div class="boxContainerDiv-2">
                    <ol style="list-style-type: none;">
                      <li ><img src="resources/Images/icons8-distintivo-de-polícia-60.png" alt="">Atualmente, há 60 oficiais em serviço ativo.</li>
                      <li ><img src="resources/Images/icons8-distintivo-de-polícia-60.png" alt="">O pico de oficiais que foram designados atingiu 100.</li>
                      <li ><img src="resources/Images/icons8-diploma-48.png" alt="">Cursos básicos.</li>
                      <li ><img src="resources/Images/icons8-diploma-48.png" alt="">Cursos Preparatórios para ações.</li>
                    </ol>
                </div>
              </div>
            </div>
      </div>
  </section>     
  
  <!-- Parte das Guarnições comentada, cliente não terá no momento Guarnições disponiveis!
    --------------------------------------------
  <section  class="guarnicoes" id="content1">
        <div class="guarnicoesContainer">    
          <h1 class="title">Guarnições</h1>
          <p>Com as guarnições <em>G.A.M, G.T.M, U.T.I </em> e o <em>Colegiado de recrutas</em> do BOPE,
            <br>estamos prontos para enfrentar qualquer desafio!</p>
            <p><em>Saiba mais em guarnições.</em></p>
        </div>
        <div class="image-content">
          <img src="resources/Images/GAM.png" alt="">
          <img src="resources/Images/gtm.png" alt="">
          <img src="resources/Images/uti.png" alt="">
        </div>
  </section> -->
  
  <!-- Cursos e Manuais Section -->
  <section  class="cursos-Manuais" id="content">
        <div class="cursosContainer">    
          <h1 class="title">Cursos e Manuais</h1>
          <div class="containerList">
            <h2>Aprimore suas habilidades com nossos cursos especializados do BOPE!</h2>
            <h3><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>Explore, aprenda, ultrapasse limites. Inicie sua jornada agora!<h3>
              <div class="cursosList">
                <p><img src="resources/Images/icons8-crachá-verificado.gif"></img>Curso de procedimentos em apreensões</p>
                <p><img src="resources/Images/icons8-crachá-verificado.gif"></img>Curso de direção</p>
                <p><img src="resources/Images/icons8-crachá-verificado.gif"></img>Curso de acompanhamento</p>
                <p><img src="resources/Images/icons8-crachá-verificado.gif"></img>Curso de abordagem</p>
                <p><img src="resources/Images/icons8-crachá-verificado.gif"></img>Curso de modulação</p>
                <p>🚀Manual de Conduta para Guarnição da Polícia</p>
              </div>
          </div>  
        </div>
  </section>
</body>
</html>
