<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <title>Privacy</title>
</head>
<body>
    <div class="termosPrivacySection">
        <div class="termTitle">
            <h2>Privacidade</h2>
        </div>
        <div class="termosPrivacy-Container">
            <ol>
                <li><strong>Política de Privacidade</strong>:
                    <ol>
                        <li><strong>Informações Coletadas</strong>: Este site não coleta nenhuma informação pessoal dos usuários. No entanto, ao redirecionar para o nosso servidor Discord, os usuários devem estar cientes de que o Discord pode coletar e usar suas informações de acordo com a política de privacidade do Discord.</li>
                        <li><strong>Uso das Informações</strong>: Qualquer informação coletada pelo Discord é usada de acordo com a política de privacidade do Discord. Recomendamos que os usuários leiam e entendam a política de privacidade do Discord antes de se juntar ao nosso servidor.</li>
                        <li><strong>Segurança das Informações</strong>: Embora este site não colete informações pessoais, nos esforçamos para garantir a segurança de todas as informações no nosso servidor Discord. No entanto, nenhuma transmissão pela internet é 100% segura, e não podemos garantir a segurança de qualquer informação transmitida para o Discord.</li>
                        <li><strong>Alterações na Política de Privacidade</strong>: Reservamo-nos o direito de alterar esta política de privacidade a qualquer momento. Recomendamos que os usuários revisem esta página regularmente para quaisquer alterações.</li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</body>
</html>
