<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Document</title>
</head>
<body>
  <main>
    <section class="recruitment" id="content"> 
      <h1 class="title">Faça Parte da Nossa Missão</h1>
            <div class="boxContainer">
              <div class="requirest">
                <h3 class="subTitle">Requisitos mínimos:</h3>
                  <div>
                    <ol style="list-style-type: none;">
                      <li><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i><b>Idade superior a 16 anos(em nárnia):</b> Este requisito é fundamental para garantir que o candidato tenha a maturidade necessária para participar do bope. A referência a “nárnia” indica que a idade real do candidato é o que importa, independentemente do cenário fictício ou imaginário do roleplay.</li>
                      <li><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i><b>Domínio do manual de conduta:</b> Este requisito é crucial para garantir que o candidato entenda as regras e expectativas do Bope. O manual de conduta, disponível na aba de <em>documentos</em> e na seção de <em>recrutamento no Discord</em>, serve como um guia para o comportamento aceitável e as práticas recomendadas. </li>
                      <li><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>Ter disponibilidade de no mínimo 2 horas para prova presencial.</li>
                    </ol>
                  </div>
              </div>
              <div class="inform-seg">
                  <h3 class="subTitle">Como acessar:</h3>
                  <div>
                    <ol style="list-style-type: none;">
                      <li><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i><b>Conecte-se ao Discord</b>: Use o link fornecido para se conectar ao nosso servidor no Discord.</li>
                      <li><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i><b>Verifique sua conta</b>: Após entrar no servidor, faça a verificação da sua conta para ter acesso completo ao servidor.</li>
                      <li><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i><b>Confira as oportunidades de recrutamento</b>: Navegue até a aba de recrutamento e confira se há algum recrutamento aberto.</li>
                    </ol>
                  </div>
                  <div class="dc-content">
                    <a href="https://discord.com/channels/1185257585738252459/1208118243676651553" target="_blank" rel="noopener noreferrer">
                      <button class="discord-button"><i class="fa-brands fa-discord"></i>Discord</button>
                    </a>
                  </div>
              </div>
            </div>
            
        </div> 


 
   

        </div>   
    </section>
  </main>        
  </body>
</html>
