<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <title>Termos</title>
</head>
<body>
    <section class="termosPrivacySection">
        <div class="termTitle">
            <h2>Termos de uso</h2>
        </div>

        <div class="termosPrivacy-Container">
            <ol>
                <li><strong>Concordância com os Termos de Uso</strong>:
                    <ol>
                        <li>Ao utilizar este site, você concorda em seguir os termos e condições aqui estabelecidos.</li>
                    </ol>
                </li>
                <li><strong>Propriedade Intelectual e Direitos Autorais</strong>:
                    <ol>
                        <li>A Polícia do BOPE da cidade InfinityRJ Roleplay detém todos os direitos autorais e propriedade intelectual do conteúdo deste site, incluindo textos, gráficos, logotipos, ícones, imagens, clipes de áudio e software.</li>
                    </ol>
                </li>
                <li><strong>Uso do Site</strong>:
                    <ol>
                        <li>Este site é dedicado à promoção do BOPE Roleplay e serve como um portal para redirecionar os usuários para o nosso servidor Discord.</li>
                        <li>O conteúdo do site é para uso pessoal e não comercial.</li>
                        <li>Embora incentivemos os usuários a compartilhar nosso site para aumentar a visibilidade do BOPE Roleplay, é proibido modificar, copiar, reproduzir, licenciar, criar trabalhos derivados, transferir ou vender qualquer informação, software, produtos ou serviços obtidos neste site sem permissão expressa.</li>
                    </ol>
                </li>
                <li><strong>Links para o Discord</strong>:
                    <ol>
                        <li>Este site contém links para nosso servidor Discord.</li>
                        <li>A Polícia do BOPE da cidade InfinityRJ Roleplay não se responsabiliza pelo conteúdo do Discord.</li>
                        <li>Sua interação lá será regida pelos termos de uso e política de privacidade do Discord.</li>
                    </ol>
                </li>
                <li><strong>Cursos e Manuais</strong>:
                    <ol>
                        <li>Os cursos e manuais disponíveis neste site são fornecidos apenas para fins informativos.</li>
                        <li>A Polícia do BOPE da cidade InfinityRJ Roleplay não assume responsabilidade por ações tomadas com base nessas informações.</li>
                    </ol>
                </li>
                <li><strong>Alterações nos Termos de Uso</strong>:
                    <ol>
                        <li>A Polícia do BOPE da cidade InfinityRJ Roleplay reserva-se o direito de modificar estes Termos de Uso a qualquer momento.</li>
                        <li>Recomendamos que você revise esta página regularmente para quaisquer alterações.</li>
                    </ol>
                </li>
                <li><strong>Doações</strong>:
                    <ol>
                        <li>Este site possui uma seção dedicada para doações.</li>
                        <li>As doações são voluntárias e destinam-se a apoiar a manutenção e o desenvolvimento do BOPE Roleplay.</li>
                        <li>Ao fazer uma doação, você confirma que está fazendo isso por vontade própria, sem a expectativa de receber bens ou serviços em troca.</li>
                        <li>Por favor, note que as doações não são reembolsáveis.</li>
                        <li>Agradecemos o seu apoio!</li>
                    </ol>
                </li>
                <li><strong>Recrutamento</strong>:
                    <ol>
                        <li>Este site possui uma seção de recrutamento que fornece informações sobre como se juntar ao BOPE Roleplay.</li>
                        <li>Os usuários interessados são informados sobre os requisitos mínimos necessários para se juntar e são orientados sobre como proceder com a inscrição através do nosso servidor Discord.</li>
                        <li>Ao se candidatar, os usuários concordam em cumprir todas as regras e regulamentos estabelecidos pelo BOPE Roleplay e entendem que o não cumprimento dessas regras pode resultar em ações disciplinares.</li>
                    </ol>
                </li>
            </ol>
        </div>
    </section>
</body>
</html>
