<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Project/resources/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="contentBox-garnishes">
        <h1 class="subTitle-garnishes">G.T.M (Grupo Tático Militar)</h1>
        <p class="paragraf-garnishes"><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>A g.t.m não é apenas um escudo que protege nossos cidadãos. Eles são a muralha inabalável que enfrenta os desafios mais difíceis com bravura. Com sua resistência e força, eles enfrentam tempestades de adversidade, mantendo-se firmes onde outros poderiam vacilar. Eles são a linha de frente na defesa de nossos cidadãos, garantindo que todos possam viver em paz e segurança.</p>
        <p class="paragraf-garnishes"><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>Os Manuais de Conduta e os Cursos relacionados ao Grupo Tático Militar (GTM) estão disponíveis no nosso discord e na seção “Documentos” do site. Fornecendo informações valiosas sobre ética profissional, processos de trabalho, e regras de conduta específicas do grupo.</p>
    </div>
</body>
</html>