<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Project/resources/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="contentBox-garnishes">
        <h1 class="subTitle-garnishes">U.T.I (Unidade Técnica de Inteligência)</h1>
        <p class="paragraf-garnishes"><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>A u.t.i é mais do que apenas suporte vital. Eles são o cérebro por trás de nossas operações, 
            o núcleo de conhecimento e perícia que mantém nossas equipes funcionando sem problemas. Eles são os especialistas que 
            garantem que nossas equipes estejam sempre prontas e capazes de responder a qualquer situação, fornecendo as informações 
            e ferramentas necessárias para tomar decisões informadas e eficazes. Eles são a espinha dorsal de nossa organização, 
            o suporte que mantém tudo funcionando sem problemas.</p>
        <p class="paragraf-garnishes"><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>Os Manuais de Conduta e os Cursos relacionados à Unidade Técnica de Inteligência (UTI) 
            estão disponíveis no nosso discord e na seção “Documentos” do site. Estes recursos são fundamentais para orientar as ações e comportamentos
             dos membros da UTI, fornecendo informações valiosas sobre ética profissional, processos de trabalho e regras de 
             conduta específicas do grupo. </p>
    </div>
</body>
</html>